/* Header.css */

*{
  font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    font-family:'Times New Roman';
  }
  
  .header {
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  
  .logo {
    flex: 1;
    text-align: left;
    animation: pound 0.9s ease-in-out;
  }

  .logo a{
    text-decoration: none;
    color: black;
  }
  
  .nav {
    flex: 2;
    text-align: center;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: bolder;

  }
  
  .nav li {
    margin: 0 15px;
    animation: pound 0.9s ease-in-out;
  }

   @keyframes pound{
    0%{
      transform: translateY(-250%);
  }
  }

  .nav a:hover{
    color: rgb(115, 185, 12);
  }
  
  .nav a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-toggle {
    display: none;
    background: none;
    border: none;
    color: rgb(8, 8, 8);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-toggle:hover{
    color: rgb(115, 185, 12);
  }
  
  @media (max-width: 1024px) {
    .nav ul {
      flex-direction: column;
      display: none;
      margin-top: -3rem;
    }
  
    .nav.active ul {
      display: flex;
      float: right;
    }
  
    .nav li {
      margin: 10px 0;
      float: left;
    }
  
    .nav-toggle {
      display: block;
      flex-direction: column;

    }
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: row;

    }
  
    .logo {
      order: 1;
      width: fit-content;
      text-align: left;



      margin-top: -3.3rem;
      margin-left: -18rem;

    }
  
    .nav {
      order: 2;
      width: 100%;


      margin-top: 3.3rem;

      
    }
  
    .nav-toggle {
      order: 0;
      float: left;

    }
    button{
      margin-right: -18rem;
      margin-top: 2rem;
    }
  }
  