/* Projects.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    /* background-color: rgb(197, 254, 254); */
  }
  
  .projects {
    /* background-color: #f4f4f4; */
    padding: 50px 20px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    transform-style: preserve-3d;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateZ(50px);
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .project-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    transform: translateZ(30px);
    width: 300px;
  }
  
  .project-card:hover {
    transform: translateZ(50px);
  }
  
  .project-content {
    transform-style: preserve-3d;
    text-align: center;
  }
  
  .project-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    transform: translateZ(20px);
  }
  
  .project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    transform: translateZ(20px);
  }
  
  .project-description {
    font-size: 1rem;
    color: #666;
    transform: translateZ(10px);
  }
  
  .project-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .project-icon {
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
   
  /* Responsive styles */
  @media (max-width: 1024px) {
    .title {
      font-size: 2.5rem;
    }
  
    .project-title {
      font-size: 1.25rem;
    }
  
    .project-description {
      font-size: 0.9rem;
    }
  
    .project-card {
      width: 100%;
      max-width: 400px;
    }
  
    .project-icon {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }
  
    .project-title {
      font-size: 1rem;
    }
  
    .project-description {
      font-size: 0.8rem;
    }
  
    .projects-grid {
      gap: 15px;
    }
  
    .project-card {
      width: 100%;
      max-width: 300px;
    }
  
    .project-icon {
      font-size: 1rem;
    }
  }
  